html
{
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

body
{
	background-color: #f7edeb;
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

#section-left
{
	background-color: #47d1af;
	min-height: 100%;
    min-width: 70%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px)
{
	#section-left
	{
		background-color: #f7edeb;
		width: 100%!important;
		min-height: 100%!important;
	}
	#section-right
	{
		display: none;
	}
	#text-head
	{
		color: black!important;
		text-align: center!important;
		padding: 0px!important;
		margin: 0px!important;
		font-size: 60px!important;
		letter-spacing: 0px!important;
	}
	#text-bottom
	{
		color: black!important;
		order: 2!important;
		font-size: 1.8em!important;
		text-align: center!important;
		padding: 0px!important;
		margin-right: 20px!important;
		margin-left: 20px!important;
	}
	#searchcontainer
	{
		width: 80%!important;
    	margin-left: 7%!important;
    	position: absolute!important;
    	bottom: 20px!important;
	}
	#inputbar
	{
		text-align: center!important;
	}
	#searchbutton
	{
		background-color: #47d1af!important;
		width: 100%!important;
    	margin-left: 10px!important;
	}
	#recycle-img-mobile
	{
		display: block!important;
		position: absolute!important;
	    opacity: 0.2!important;
	    margin-top: 10%!important;
	    width: 100%!important;
	}
}

#content
{
	width: 100%;
	min-height: 100%;
	display: flex;
	overflow: hidden;
}

#section-right
{
	border-width: 1px;
    border-left-style: solid;
    border-left-color: black;
	margin: 0px;
	padding: 0px;
	background-color: #f7edeb;
	min-height: 100%;
	transform: skewX(10deg);
	transform-origin: bottom;
	min-width: 100%;

}

#text-head
{
	color: white;
	font-family: 'Actor', sans-serif;
	font-size: 5em;
	letter-spacing: 4px;
	margin: 0px;
	margin-left: 50px; 
	margin-top: 20px;
	padding: 0px;
	padding-right: 150px;
	order: 1;
}

#searchcontainer
{
	margin-top: 10%;
    width: 50%;
    margin-left: 10%;
    text-align: center;
    order: 3;
}

#inputbar
{
	border-radius: 6px;
	border-style: solid;
	border-width: 1px;
	font-size: 1.4em;
	height: 50px;
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}

#searchbutton
{
	background-color: #523921;
	border-color: black;
	border-radius: 5px;
	color: white;
	font-size: 28px;
	height: 50px;
	margin-top: 20px;
	padding: 0px;
	width: 200px;
}

#text-bottom
{
	color: white;
    font-family: 'Actor', sans-serif;
    font-size: 2em;
    margin: 0px;
    margin-left: 3%;
    margin-top: 15%;
    padding-right: 100px;
    order: 4;
}

#recycle-img
{
	height: 75%;
    width: 35%;
    position: absolute;
    float: left;
    top: 10%;
    left: -10%;
    opacity: 0.5;
}

#recycle-img-mobile
{
	display: none;
}